@model List<TimeZona.Models.PRODUCTSDETAILS>
@{
    ViewBag.Title = "Ürün Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Saatler</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!--================Single Product Area =================-->
    @foreach (var urundetay in Model)
    {
        <div class="product_image_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div>
                            <center><img src="~/Content/img/@urundetay.PHOTO" alt="#" class="img-fluid"></center>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="single_product_text text-center">
                        <h3>
                            @urundetay.NAME
                        </h3>
                        <p>
                            @urundetay.CONTENTS
                        </p>

                    </div>
                </div>

            </div>
        </div>
    }
    <!--================End Single Product Area =================-->
    <!-- subscribe part here -->
    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Promosyonlar & Güncellemeler Hakkında Daha Fazla Bilgi Alın!</h2>
                        <p>Güncellemeler ve promosyonlar hakkında daha fazla bilgi almak istiyorsanız e-mail adresinizi girin .</p>
                        <div class="subscribe_form">
                            <input type="email" placeholder="E-mail adresinizi girin.">
                            <a href="#" class="btn_1">Abone Olun</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe part end -->
</main>
